[Desktop Entry]
Name=Obsidian
GenericName=Wiki
StartupWMClass=obsidian
Exec=BIN_DIR/obsidian --no-sandbox
Icon=HOME/.local/share/icons/obsidian.svg
Terminal=false
Type=Application
Categories=Utility;Office
MimeType=application/x-md;x-scheme-handler/obsidian;
X-Desktop-File-Install-Version=0.22
